{% extends 'base.html' %}
{% load static %}
{% block body_class %}
  music-page
{% endblock %}

{% block content %}
  <div class="section about-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-1">
          <div class="accordion" id="accordionExample">

            <!-- موزیک خارجی -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> خارجی</button>
              </h2>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="accordion-body">
                  {% for music in musics %}
                    {% if music.categorey == 'foreign' %}
                      <div class="music-item">
                        <div class="music-info">
                          <img src="{{ music.label.url }}" alt="{{ music.music_name }}"/>
                          <div class="music-details">
                            <h4>{{ music.artist_name }}</h4>
                            <p>{{ music.music_name }}</p>
                          </div>
                        </div>
                        <audio controls>
                          <source src="{{ music.music_file.url }}" type="audio/mpeg" />مرورگر شما از پخش صوتی پشتیبانی نمی‌کند.
                        </audio>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!-- رپ -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">رپ فارسی</button>
              </h2>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="accordion-body">
                  {% for music in musics %}
                    {% if music.categorey == 'rap' %}
                      <div class="music-item">
                        <div class="music-info">
                          <img src="{{ music.label.url }}" alt="{{ music.music_name }}"/>
                          <div class="music-details">
                            <h4>{{ music.artist_name }}</h4>
                            <p>{{ music.music_name }}</p>
                          </div>
                        </div>
                        <audio controls>
                          <source src="{{ music.music_file.url }}" type="audio/mpeg" />مرورگر شما از پخش صوتی پشتیبانی نمی‌کند.
                        </audio>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!-- ریمیکس ها -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">ریمیکس</button>
              </h2>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="accordion-body">
                  {% for music in musics %}
                    {% if music.categorey == 'remix' %}
                      <div class="music-item">
                        <div class="music-info">
                          <img src="{{ music.label.url }}" alt="{{ music.music_name }}"/>
                          <div class="music-details">
                            <h4>{{ music.artist_name }}</h4>
                            <p>{{ music.music_name }}</p>
                          </div>
                        </div>
                        <audio controls>
                          <source src="{{ music.music_file.url }}" type="audio/mpeg" />مرورگر شما از پخش صوتی پشتیبانی نمی‌کند.
                        </audio>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!-- موزیک قدیمی -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> قدیمی</button>
              </h2>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="accordion-body">
                  {% for music in musics %}
                    {% if music.categorey == 'old' %}
                      <div class="music-item">
                        <div class="music-info">
                          <img src="{{ music.label.url }}" alt="{{ music.music_name }}"/>
                          <div class="music-details">
                            <h4>{{ music.artist_name }}</h4>
                            <p>{{ music.music_name }}</p>
                          </div>
                        </div>
                        <audio controls>
                          <source src="{{ music.music_file.url }}" type="audio/mpeg" />مرورگر شما از پخش صوتی پشتیبانی نمی‌کند.
                        </audio>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

            <!-- پاپ -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">پاپ</button>
              </h2>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="accordion-body">
                  {% for music in musics %}
                    {% if music.categorey == 'pop' %}
                      <div class="music-item">
                        <div class="music-info">
                          <img src="{{ music.label.url }}" alt="{{ music.music_name }}"/>
                          <div class="music-details">
                            <h4>{{ music.artist_name }}</h4>
                            <p>{{ music.music_name }}</p>
                          </div>
                        </div>
                        <audio controls>
                          <source src="{{ music.music_file.url }}" type="audio/mpeg" />مرورگر شما از پخش صوتی پشتیبانی نمی‌کند.
                        </audio>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-5 align-self-center" style="direction: rtl; ">
          <div class="section-heading">
            <h2 style=" line-height: 1.5;">با هر سبک و سلیقه ای، موسیقی دلخواهت رو گوش بده</h2>
            <p>اگه موزیک مدنظرت تو پلی لیست نبود، اونو به ما معرفی کن.</p>
            <div class="main-button">
              <a href="#">پیشنهاد موزیک</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
