{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    .h4 {
      font-family: 'Vazirmatn', sans-serif;
    }
    .item item-1 {
      direction: rtl;
    }

  </style>

  <body>
    <div class="main-banner" id="top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="owl-carousel owl-banner">
              <div class="item item-1" style="direction: rtl;">
                <div class="header-text">
                  <br></br>
                  <h2>از رویا تا واقعیت، با بادی‌لند</h2>
                  <br></br>
                  <br></br>
                  <div class="buttons" style="margin-bottom: px;">
                    <div class="main-button">
                      <a href="#">پیش نمایش فیلم</a>
                    </div>
                    <div class="icon-button">
                      <a href="#"><i class="fa fa-play"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item item-2" style="direction: rtl;" >
                <div class="header-text">
                  <h2>از رویا تا واقعیت، با بادی‌لند</h2>
                  <p>You are allowed to use this template for any educational or commercial purpose. You are not allowed to re-distribute the template ZIP file on any other website.</p>
                  <div class="buttons">
                    <div class="main-button">
                      <a href="#">پیش نمایش فیلم</a>
                    </div>
                    <div class="icon-button">
                      <a href="#"><i class="fa fa-play"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item item-3" style="direction: rtl;">
                <div class="header-text">
                  <h2>از رویا تا واقعیت، با بادی‌لند</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporious incididunt ut labore et dolore magna aliqua suspendisse.</p>
                  <div class="buttons">
                    <div class="main-button">
                      <a href="#">پیش نمایش فیلم</a>
                    </div>
                    <div class="icon-button">
                      <a href="#"><i class="fa fa-play"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item item-4" style="direction: rtl;">
                <div class="header-text">
                  <h2>از رویا تا واقعیت، با بادی‌لند</h2>
                  <p>You are allowed to use this template for any educational or commercial purpose. You are not allowed to re-distribute the template ZIP file on any other website.</p>
                  <div class="buttons">
                    <div class="main-button">
                      <a href="#">پیش نمایش فیلم</a>
                    </div>
                    <div class="icon-button">
                      <a href="#"><i class="fa fa-play"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item item-5" style="direction: rtl;">
                <div class="header-text">
                  <h2>از رویا تا واقعیت، با بادی‌لند</h2>
                  <p>You are allowed to use this template for any educational or commercial purpose. You are not allowed to re-distribute the template ZIP file on any other website.</p>
                  <div class="buttons">
                    <div class="main-button">
                      <a href="#">پیش نمایش فیلم</a>
                    </div>
                    <div class="icon-button">
                      <a href="#"><i class="fa fa-play"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div  style="font-family: 'Vazirmatn', sans-serif; text-align: right; " class="section testimonials">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="owl-carousel owl-testimonials">
              <div class="item">
                <h4>برنامه های تخصصی تمرینی</h4>
                <br></br>
                <p style="direction: rtl; text-align: justify; ">ما به این باور داریم که هر فرد شرایط بدنی و اهداف منحصر‌به‌فردی دارد. به همین دلیل، برنامه‌های تمرینی ما کاملاً شخصی‌سازی‌شده طراحی می‌شن. شما می‌تونید اطلاعاتی مثل سن، جنسیت، سطح آمادگی، هدف (چربی‌سوزی، عضله‌سازی و...) و محدودیت‌های بدنی‌تون رو وارد کنید، و بر اساس اون‌ها یک برنامه تمرینی دقیق و حرفه‌ای دریافت کنید.</p>
                <div class="author">
                  <img src="/static/assets/images/training-program.png" alt="" />
                  <br></br>
                </div>
              </div>
              <div class="item">
                <h4> پلی لیست موسیقی بروز برای تمرین </h4>
                <br></br>
                <p style="direction: rtl; text-align: justify; "> موزیک در حین تمرین نقش خیلی مهمی در افزایش انگیزه و تمرکز دارد. آهنگ‌های پرانرژی باعث می‌شوند ورزشکار خستگی را کمتر احساس کند، ریتم تمرینات بهتر حفظ شود و عملکرد کلی بالاتر برود. در بادی‌لند ما مجموعه‌ای از موزیک‌های مخصوص باشگاه را آماده کرده‌ایم تا بتوانید با انرژی بیشتری تمرین کنید و تجربه ورزشی شما لذت‌بخش‌تر و مؤثرتر شود </p>
                <div class="author">
                  <img src="/static/assets/images/music-card.png" alt="" style=" " />

                  <br></br>  
                </div>
              </div>
              <div class="item">
                <h4> فروشگاه بادی لند و پشتیبانی 24 ساعته </h4>
                <br></br>
                <p style="direction: rtl; text-align: justify; "> 
                    هدف ما این است که شما بدون دغدغه، هر آنچه برای ورزش نیاز دارید را در کوتاه‌ترین زمان و با بهترین قیمت در اختیار داشته باشید.
                    ما در بادی‌لند فقط به ارائه برنامه و محصولات بسنده نکرده‌ایم. تیم پشتیبانی ما همواره آماده است تا به سوالات شما درباره تمرینات، تجهیزات یا نحوه استفاده از خدمات پاسخ دهد. هر زمان که نیاز به راهنمایی داشتید، کافیست با ما در ارتباط باشید تا سریع و دقیق راهنمایی شوید </p>
                <div class="author">
                  <img src="/static/assets/images/support-card.png" alt="" />
                  <br></br>
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: right;" class="col-lg-5 align-self-center">
            <div class="section-heading">
              <h6 style="font-size: 17px;">معرفی</h6>
              <h2>!چرا بادی لند؟</h2>
              <p style="font-size: 18px;">!به بادی‌لند خوش آمدید؛ خانه تخصصی ورزش و تناسب اندام <br> بادی لند با تحربه چندین ساله خود در هدف ارتقاء سطح تمرین و تجربه ورزشی شما فعالیت  میکند </br></p>
            </div>
          </div>
        </div>
      </div>
    </div>







    <div class="services section" id="services">
      <div class="container" style="font-family: 'Vazirmatn', sans-serif;
     text-align: center;

     ">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <div class="icon">
                <img src="/static/assets/images/shopping-cart (1).png" alt="online degrees" />
              </div>
              <div class="main-content">
                <h4>فروشگاه بادی لند</h4>
                <p>اصول داشتن یه تمرین خوب، داشتن ابزار حرفه ایه و ما این ابزار رو تو بادی لند فراهم کردیم</p>
                <div class="main-button">
                  <a style="font-weight: 800;" href="/product/">نمایش بیشتر</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <div class="icon">
                <img src="/static/assets/images/music-note.png" alt="short courses" />
              </div>
              <div class="main-content">
                <h4>موسیقی ورزشی</h4>
                <p>!تمرین بدون موزیک؟ محاله یه پلی‌لیست خوب، یه همراه تمرینی فوق العاده</p>
                <div class="main-button">
                  <a style="font-weight: 800;" href="/music/">نمایش بیشتر</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <div class="icon">
                <img src="/static/assets/images/workout.png" alt="web experts" />
              </div>
              <div class="main-content">
                <h4>برنامه تمرینی</h4>
                <p>با تحلیل نیاز و هدف تمرینی شما، برنامه مختص سلیقه و بدن خود دریافت کنید</p>
                <div class="main-button">
                  <a style="font-weight: 800;" href="/workout/">نمایش بیشتر</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="section events" id="events" style="direction: rtl; text-align: right;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-heading">
              <h2>دوره های ویژه</h2>
            </div>
          </div>
          {% for course in courses  %}
            <div class="col-lg-12 col-md-6">
            <div class="item">
              <div class="row">
                <div class="col-lg-3">
                  <div class="image">
                    <img src="{{ course.course_lable.url }}" />
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul>
                    <li>
                      <span class="category">{{ course.course_name }}</span>
                      <h4> {{course.short_discription}}</h4>
                    </li>
                    <li>
                      <span>تاریخ:</span>
                      <h6>{{course.start_at}}</h6>
                    </li>
                    <li>
                      <span>مدت زمان:</span>
                      <h6>{{course.duration}} ساعت</h6>
                    </li>
                    <li>
                      <span>قیمت:</span>
                      <h6>{{course.course_price}} تومان </h6>
                    </li>
                  </ul>
                  <a href="{% url 'course:course_detail' course.id %}"><i class="fa fa-angle-left"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


    <div class="section fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="wrapper">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div class="counter">
                    <h2 class="timer count-title count-number" data-to="8" data-speed="1000"></h2>
                    <p class="count-text">سال تجربه</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="counter">
                    <h2 class="timer count-title count-number" data-to="804" data-speed="1000"></h2>
                    <p class="count-text">محصول ورزشی</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="counter">
                    <h2 class="timer count-title count-number" data-to="50" data-speed="1000"></h2>
                    <p class="count-text">کارشناس و پشتیبان</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="counter end">
                    <h2 class="timer count-title count-number" data-to="200" data-speed="1000"></h2>
                    <p class="count-text">تمرین ورزشی</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




<section class="section courses" id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">

          <h2>مجله بادی‌لند</h2>
        </div>
      </div>
    </div>

    <!-- فیلتر دسته‌بندی -->
    <ul class="event_filter">
      <li><a href="#!" data-filter=".tools">ابزار ورزشی</a></li>
      <li><a href="#!" data-filter=".Diet">رژیم غذایی</a></li>
      <li><a href="#!" data-filter=".sport">ورزشی</a></li>
      <li><a class="is_active" href="#!" data-filter="*">همه</a></li>
    </ul>

  
    <div class="row event_box" >
      {% for post in posts reversed  %}
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer {{ post.category }}">
          <a href="{% url 'blog:blog_detail' post.id %}">
            <div class="events_item">
              <div class="thumb">
                <img src="{{ post.image.url }}" alt="">
                <span class="price">
                  <h6><em>$</em>160</h6>
                </span>
              </div>
              <div class="down-content">
                <span class="author">{{ post.author }}</span>
                <h4>{{ post.title }}</h4>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>




  </body>
{% endblock %}
