{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="rule-box" id="rule">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>قوانین و مقررات</h1>
    <br />
    <h6>1- بادی لند با هدف ارائه برنامه‌های تمرینی، دوره‌های آموزشی و فروش تجهیزات ورزشی برای کمک به سلامت و تناسب اندام کاربران ایجاد شده است. استفاده شما از این سایت به منزله پذیرش کامل تمامی قوانین ذکر شده در این صفحه است.</h6>
    <h6>2- تمامی محتوای متنی، تصویری و ویدیویی موجود در این سایت (شامل مقالات، دوره‌ها و برنامه‌های تمرینی) متعلق به بادی لند بوده و هرگونه کپی‌برداری و استفاده تجاری بدون مجوز کتبی، پیگرد قانونی دارد.</h6>
    <h6>3- پیش از شروع هرگونه برنامه تمرینی یا رژیم غذایی جدید، به‌ویژه اگر سابقه بیماری یا مصدومیت دارید، حتماً با پزشک یا متخصص مربوطه مشورت کنید.</h6>
    <h6>4- سفارش‌ها پس از تأیید پرداخت، در بازه زمانی مشخص شده ( ۱ تا ۳ روز کاری) پردازش و از طریق پست یا پیک ارسال خواهند شد. هزینه ارسال بر عهده مشتری است.</h6>
    <h6>5- کاربران می‌توانند تا ۷ روز پس از دریافت کالا، در صورت عدم استفاده و سالم بودن بسته‌بندی، سفارش خود را مرجوع کنند. هزینه بازگشت کالا بر عهده مشتری خواهد بود.</h6>
    <h6>6- جهت درخواست استرداد وجه، لطفاً شماره کارت بانکی‌ که با آن خرید انجام داده‌اید به بخش امور مالی تحویل دهید. </h6>
    <h6>7- تمامی قیمت‌ها به تومان بوده و ممکن است بدون اطلاع قبلی تغییر کنند. پرداخت موفق به معنای نهایی شدن سفارش است.</h6>
    <h6>8- ساعات پاسخگویی پشتیبانی همه روزه از ساعت 10 الی 18 میباشد. </h6>
    <h6>9- بادی لند متعهد می‌شود که اطلاعات شخصی کاربران را محرمانه تلقی کرده و آن‌ها را در اختیار هیچ شخص یا سازمان دیگری قرار ندهد. </h6>
  </div>
  <style>
    .rule-box {
      direction: rtl;
      text-align: right;
      padding-right: 80px;
      padding-left: 88px;
    }
    
    .rule-box h6 {
      line-height: 50px;
    }
  </style>
{% endblock %}
